<h1>Skaters</h1>
<ul>
  <%@skaters.each do |skater| %>
    <li>
      Name : <%="#{skater.name}"%> |
      Derby Name : <%="#{skater.derby_name}"%> |
      Number : <%="#{skater.derby_number}"%>
      <%= link_to "Skater Detials", edit_skater_path(skater), class: "edit-skater", data:skater.id %>
      <%= link_to "Record a Payment", new_skater_payment_path(skater)%>
    </li>
    <div class="skater"></div>

  <%end%>
</ul>
<%= link_to 'Create a new skater', new_skater_path %>
<%= link_to 'Create a new deposit', new_deposit_path %>
<%=render partial: "skater"%>
