<!DOCTYPE html>
<html>
<head>
  <title>RollerDerbyFinance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
  <% end %>
  <% if flash[:alert] %>
    <div id="alert"><%= flash[:alert] %></div>
  <% end %>
<%= yield %>

</body>
</html>
